alias dev="cd ~/Dev && clear"
alias please="npm"
alias andemu="emulator -avd Nexus_5X_API_28_x86" #https://developer.android.com/studio/run/emulator-commandline
alias andrem="scrcpy" #https://github.com/Genymobile/scrcpy
alias cc="clear"
alias dotfiles="code -n ~/dotfiles/"
alias vdotfiles="v ~/dotfiles/"
alias todo="code ~/Google\ Drive/Work/todo/"
alias vtodo="v ~/Google\ Drive/Work/todo/todo.md"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias week='date +%V'
alias ip="publicip && localip"
alias publicip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias openports="lsof -PiTCP -sTCP:LISTEN"
alias c="tr -d '\n' | pbcopy" #ex: ip | c (your ip will be added to clipboard)
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'" #"/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend" # Lock the screen
alias reload="sh ~/dotfiles/update.sh && exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}' # Print each PATH entry on a separate line
alias gs="git status"
alias v="nvim"
alias cpwd="pwd | tr -d '\n' | pbcopy && echo '$PWD copied to clipboard'"
alias fb="fb-messenger-cli"
alias finderpath="osascript -e 'tell application \"Finder\" to get the POSIX path of (target of front window as alias)'"
alias listglobalnodepkgs="npm ls -g --depth=0"
alias f="z"

# which code => returns where code command in terminal is installed!
# someoutput grep cool => returns lines where "cool" exist in someoutput. works with pipes |