alias dev="cd ~/Dev && clear"
alias please="npm"
alias dotfiles="code -n ~/dotfiles/"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias week='date +%V'
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias c="tr -d '\n' | pbcopy" #ex: ip | c (your ip will be added to clipboard)
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'" #"/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend" # Lock the screen
alias reload="sh ~/dotfiles/update.sh && exec ${SHELL} -l"
alias path='echo -e ${PATH//:/\\n}' # Print each PATH entry on a separate line
alias gs="git status"
alias v="nvim"
alias cpwd="pwd | tr -d '\n' | pbcopy && echo '$PWD copied to clipboard'"
alias fb="fb-messenger-cli"