[user]
	name = Tobias Ekman

[core]
	excludesfile = ~/.gitignore

[init]
	defaultBranch = main

[pull]
	rebase = true

[includeIf "gitdir:~/devp/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/dotfiles/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/.alfred-tob-settings/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/dev/"]
	path = ~/.gitconfig-work