# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

node_modules

# Local tobbe notes
# Is included in .rgignore!
.tobnotes.md

# Local tobbe log
.tob.log

.claude/settings.local.json

.playwright-cli

claude.local.md
