save-exact=true
save=true

# Put secrets in ~/.npmrc-secrets, will be merged when running reload, ex:
# //gitlab.com/api/v4/packages/npm/:_authToken=<token>
# @some-company:registry=https://gitlab.com/api/v4/packages/npm/