save-exact=true
save=true

# Put secrets in ~/.npmrc-secrets, will be merged when running reload
# Get seceret for Gitlab in https://gitlab.com/-/profile/personal_access_tokens (take all read scopes...)
# ex:
# @made-people:registry=https://gitlab.com/api/v4/packages/npm/
# //gitlab.com/api/v4/packages/npm/:_authToken=xxx