<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>

    <key>Label</key>
    <string>tobbe.check-web</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>100</integer>

    <key>StandardErrorPath</key>
    <string>/Users/tobbe/Dev/check-web/stderr.log</string>

    <key>StandardOutPath</key>
    <string>/Users/tobbe/Dev/check-web/stdout.log</string>

    <!-- <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string><![CDATA[ put output from echo path here ]]></string>
    </dict> -->

    <key>WorkingDirectory</key>
    <string>/Users/tobbe/Dev/check-web/</string>

    <key>ProgramArguments</key>
    <array>
      <string>/Users/tobbe/.nvm/versions/node/v10.12.0/bin/node</string>
      <string>index.js</string>
    </array>

  </dict>
</plist>