/* # SETUP */
/* Make sure: about:config -> toolkit.legacyUserProfileCustomizations.stylesheets -> true */
/* browser.uidensity = 1 in about:config */
/* 1. cp ~/dev/dotfiles/firefox/userChrome.css ~/Library/Application\ Support/Firefox/Profiles/6khnxru5.default-release/chrome/userChrome.css */
/*
  # Get path to css file
  1. Firefox => about:support
  2. Profile Folder => show in finder
  3. Create (if needed) `((Profile Folder))/chrome/userChrome.css`
*/
/* 2. Restart firefox OR open new tab to see changes */

/* 🚨 Use firefoxUserContent.css for page content styling */
/* 🚨 Inspect firefox elements on chrome://browser/content/browser.xhtml */

#navigator-toolbox:not(:focus-within) {
  height: 1px !important;
}

#navigator-toolbox:not(:focus-within) #urlbar-container {
  position: fixed !important;
  top: -2000px !important;
  /* top: 10px; */
}

/* when urlbar is focused */
/* #navigator-toolbox:focus-within #urlbar-container {
  position: fixed !important;
} */
 

body {
  border: 8px solid #1d0a3681 !important; /* 2e105694 */
  border-radius: 8px !important;
  box-sizing: border-box;
}

#nav-bar {
  border-radius: 8px !important;
}

#browser, #appcontent {
  border-radius: 8px !important;
  overflow: hidden !important;
  background-clip: padding-box;
}

/* https://gist.github.com/ruanbekker/f800e098936b27c7cf956c56005fe362 */
/* 🚨 also set browser.uidensity = 1 in about:config */
#main-window[tabsintitlebar="true"]:not([extradragspace="true"]) #TabsToolbar > .toolbar-items {
  opacity: 0;
  /* pointer-events: none; */
}
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
    visibility: collapse !important;
}
#TabsToolbar { visibility: collapse !important; }