/* Edit and insert in moz-extension://9d670478-d026-4ab0-86a0-1261f329acfa/pages/options.html */

:root {
  --tob-font-size: 14;
  --tob-font-size-hints: 12;

  --tob-font-weight: normal;
  --tob-font-weight-medium: medium;
  --tob-font-weight-bold: bold;

  --tob-font: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif; /* Font used in the UI */

  --tob-padding: 2px;
  --tob-padding-vomnibar: 10px;
  --tob-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.25);
  --tob-blur: 40px;

  /* -------- VOMNIBAR & HUD -------- */
  /* --tob-bg: rgba(244, 244, 244, 1);
  --tob-bg-selected: rgba(154, 176, 196, 0.3);
  --tob-fg: #111;
  --tob-fg-dark: #111;
  --tob-fg-url: #666;
  --tob-fg-match: #2165d9;
  --tob-font-size-url: 12; */

  --tob-bg: #0c0044;
  --tob-bg-selected: rgba(154, 176, 196, 0.3);
  --tob-fg: #fff;
  --tob-fg-dark: #fff;
  --tob-fg-url: #bbb;
  --tob-fg-match: #2165d9;
  --tob-font-size-url: 12;

  --tob-border: #464646;

  /* -------- HINTS -------- */
  --tob-fg-hints: #ffd752; /* Text color of link hints, (don't forget to change `#vimiumHintMarkerContainer div > .matchingCharacter ~ span`) */
}

/* --------------------------------- CSS --------------------------------- */

/* -------- HINTS -------- */
#vimiumHintMarkerContainer div.internalVimiumHintMarker,
#vimiumHintMarkerContainer div.vimiumHintMarker {
  background: var(--tob-bg);
  border: 1px solid var(--tob-border);
  backdrop-filter: blur(10px);
  box-shadow: var(--tob-shadow);
  padding: 3px 4px;
}

#vimiumHintMarkerContainer div span {
  color: var(--tob-fg-hints);
  font-family: var(--tob-font);
  font-size: var(--tob-font-size-hints);
  font-weight: var(--tob-font-weight-bold);
  text-shadow: none;
}

#vimiumHintMarkerContainer div > .matchingCharacter {
  opacity: 0.3;
}

#vimiumHintMarkerContainer div > .matchingCharacter ~ span {
  color: var(--tob-fg-hints);
}

/* -------- VOMNIBAR -------- */
#vomnibar {
  background: var(--tob-bg);
  backdrop-filter: blur(var(--tob-blur));
  border: 1px solid var(--tob-border);
  box-shadow: var(--tob-shadow);
  border-radius: 15px;
  overflow: hidden;
  left: 50%;
  margin-left: -400px;
  max-width: 800px;
}

#vomnibar .vomnibarSearchArea,
#vomnibar input {
  background: transparent;
  border: none;
  box-shadow: none;
  color: var(--tob-fg);
  font-family: var(--tob-font);
  font-size: var(--tob-font-size);
  font-weight: var(--tob-font-weight);
}

#vomnibar .vomnibarSearchArea {
  padding: 8px 15px;
  border-radius: 6px;
}

#vomnibar input {
  border: none;
  padding: var(--tob-padding);
}

.vomnibarNoInsertText {
  display: none;
}

#vomnibar ul {
  background: transparent;
  border-top: 1px solid var(--tob-border);
  margin: 0;
  padding: var(--tob-padding-vomnibar);
}

#vomnibar li {
  border-bottom: none;
  /* padding: 10px; */
  padding: 24px 32px;
  display: flex;
  flex-direction: column-reverse;
}

#vomnibar li .vomnibarTopHalf {
  padding: var(--tob-padding);
  margin-top: 4px;
}

#vomnibar li .vomnibarBottomHalf {
  padding-top: 0px;
  padding-bottom: 1px;
  font-size: 0;
  margin-top: 0px;
  line-height: 1;
}

#vomnibar li .vomnibarSource {
  display: none;
  color: var(--tob-fg);
  font-weight: var(--tob-font-weight-medium);
  /* text-transform: uppercase; `.vomnibarSource` will be in all uppercase letters. Delete to revert to original */
}

#vomnibar li em,
#vomnibar li .vomnibarTitle {
  margin-left: 0 !important;
  font-family: var(--tob-font);
  font-size: 16px;
  color: #e7e454;
  font-family: var(--tob-font);
}

#vomnibar li .vomnibarUrl {
  font-size: 22px;
  color: var(--tob-fg-dark);
  font-family: var(--tob-font);
  font-weight: var(--tob-font-weight-medium);
}

#vomnibar li .vomnibarMatch {
  color: var(--tob-fg-match);
  font-weight: normal;
}

#vomnibar li .vomnibarTitle .vomnibarMatch {
  color: var(--tob-fg);
  font-weight: bold;
}

#vomnibar li.vomnibarSelected {
  background-color: var(--tob-bg-selected);
  backdrop-filter: blur(20px);
  border-radius: 8px;
}

#vomnibar li.vomnibarSelected .vomnibarUrl {
  /* Changes '.vomnibarURL' to '--tob-fg-match' when selected */
  /* color: var(--tob-fg-url); */
}

#vomnibar li.vomnibarSelected .vomnibarMatch {
  /* Changes '.vomnibarMatch' to '--tob-fg' when selected */
  color: var(--tob-fg);
}

/* -------- HUD -------- */
div.vimiumHUD {
  background: var(--tob-bg);
  backdrop-filter: blur(20px);
  border: 1px solid var(--tob-border);
  box-shadow: var(--tob-shadow);
  border-radius: 6px;
}

div.vimiumHUD span#hud-find-input,
div.vimiumHUD .vimiumHUDSearchAreaInner {
  color: var(--tob-fg);
  font-family: var(--tob-font);
  font-size: 13;
  font-weight: var(--tob-font-weight-medium);
}

div.vimiumHUD .hud-find {
  background-color: transparent;
  border: none;
}

div.vimiumHUD .vimiumHUDSearchArea {
  background-color: transparent;
  padding: 6px;
}

/* -------- HELP DIALOG -------- */
div#vimiumHelpDialogContainer {
  background-color: transparent !important;
  border: none !important;
}

div#vimiumHelpDialog {
  background: var(--tob-bg);
  backdrop-filter: blur(var(--tob-blur));
  border: 1px solid var(--tob-border);
  border-radius: 15px;
  font-family: var(--tob-font);
  font-size: var(--tob-font-size);
  padding: 15px 10px !important;
}

span#vimiumTitle {
  color: var(--tob-fg);
}

a:link.vimiumHelDialogLink,
a:visited.vimiumHelDialogLink,
a:hover.vimiumHelDialogLink,
a:active.vimiumHelDialogLink,
a#toggleAdvancedCommands {
  color: var(--tob-fg-url);
  font-family: var(--tob-font);
  font-size: var(--tob-font-size);
}

span.vimiumHelpDialogKey {
  background-color: var(--tob-bg-hints);
  border: 1px solid var(--tob-border-hints);
  box-shadow: var(--tob-shadow);
  padding: 2px 3px;
  color: var(--tob-fg-hints);
  font-family: var(--tob-font);
  font-size: var(--tob-font-size-hints);
  font-weight: var(--tob-font-weight-bold);
  text-shadow: none;
}

td.vimiumHelpSectionTitle,
td.vimiumHelpDescription {
  color: var(--tob-fg);
  font-family: var(--tob-font);
}

div.vimiumColumn {
  color: var(--tob-fg);
  font-family: var(--tob-font);
}

.vomnibarMatch {
  color: inherit !important;
}
