profile name="Tobbes profile"

var TERMINALS com.googlecode.iterm2 com.mitchellh.ghostty net.kovidgoyal.kitty com.github.wez.wezterm org.alacritty
var TERMINALS_VSCODE com.microsoft.VSCode com.googlecode.iterm2 com.mitchellh.ghostty net.kovidgoyal.kitty com.github.wez.wezterm org.alacritty

# caps_lock = right_command / left_control (escape when used alone)
# left_command = left_command
# left_control = right_control

# SETTINGS ------------------------------------------------------------------------------------------------------

global
  check_for_updates_on_startup: true
  show_in_menu_bar: false
  show_profile_name_in_menu_bar: false

virtual_hid_keyboard
  keyboard_type_v2: iso

complex_parameters
  basic.simultaneous_threshold_milliseconds: 50
  basic.to_delayed_action_delay_milliseconds: 500
  basic.to_if_alone_timeout_milliseconds: 200
  basic.to_if_held_down_threshold_milliseconds: 250

remap pause -> consumer:play_or_pause
remap scroll_lock -> consumer:scan_next_track
remap top_case:keyboard_fn -> left_control

# DEVICES ------------------------------------------------------------------------------------------------------

# dunno
device vendor=8916 product=4886 is_pointing_device=false ignore=false manipulate_caps_lock_led=false disable_built_in_keyboard_if_exists=false simple_modifications=empty
device vendor=1452 product=34304 is_pointing_device=false ignore=false manipulate_caps_lock_led=true disable_built_in_keyboard_if_exists=false simple_modifications=empty
device vendor=1452 product=636 is_pointing_device=false ignore=false manipulate_caps_lock_led=true disable_built_in_keyboard_if_exists=false

# black keyboard?
device vendor=1241 product=17733 is_pointing_device=false ignore=false manipulate_caps_lock_led=false disable_built_in_keyboard_if_exists=false
  remap grave_accent_and_tilde -> non_us_backslash
  remap non_us_backslash -> grave_accent_and_tilde

# built in keyboard macbook pro 16
device vendor=1452 product=834 is_pointing_device=false ignore=false manipulate_caps_lock_led=true disable_built_in_keyboard_if_exists=false
  remap grave_accent_and_tilde -> non_us_backslash
  remap non_us_backslash -> grave_accent_and_tilde

# lofree keyboard
device vendor=1452 product=591 is_pointing_device=true ignore=false
  # remap page_up -> vk_none
  # remap page_down -> vk_none

# MODIFICATIONS --------------------------------------------------------------------------------------------------

rule "disable dead key backtick on Swedish layout"
  map shift_l-equal_sign if_input_source="sv"
    to
      key_code: shift_l-equal_sign
      key_code: spacebar

rule "Left to right control"
  map left_control?
    to
      key_code: right_control
    #to_if_alone
      #shell: /opt/homebrew/bin/paneru send-cmd window center

rule "Kitty quick terminal"
  map cmd_l-1 to key_code: ctrl_l-shift_l-opt_r-cmd_r-k
  # map grave_accent_and_tilde if_app net.kovidgoyal.kitty-quick-access to key_code: ctrl_l-shift_l-opt_r-cmd_r-k

rule "Window management"
  map cmd_l-cmd_r-h to shell: /opt/homebrew/bin/paneru send-cmd window focus west
  map ctrl_l-cmd_l-h to shell: /opt/homebrew/bin/paneru send-cmd window focus west
  map cmd_l-cmd_r-l to shell: /opt/homebrew/bin/paneru send-cmd window focus east
  map ctrl_l-cmd_l-l to shell: /opt/homebrew/bin/paneru send-cmd window focus east

  map cmd_l-w>w to shell: /opt/homebrew/bin/paneru send-cmd window center
  map cmd_l-w>h to shell: /opt/homebrew/bin/paneru send-cmd window swap west
  map cmd_l-w>l to shell: /opt/homebrew/bin/paneru send-cmd window swap east
  map cmd_l-w>shift_l-c to shell: /bin/zsh -lc 'sh /Users/tobbe/dev/dotfiles/scripts/toggle-paneru-auto-center.sh'
  map cmd_l-w>p to shell: /opt/homebrew/bin/paneru stop && /opt/homebrew/bin/paneru start
  map cmd_l-w>r to shell: /bin/zsh -lc 'sh /Users/tobbe/dev/dotfiles/reload.sh'
  map cmd_l-close_bracket to shell: /opt/homebrew/bin/paneru send-cmd window resize
  map cmd_l-open_bracket to shell: /opt/homebrew/bin/paneru send-cmd window shrink
  map cmd_l-w>shift_l-n to shell: /opt/homebrew/bin/paneru send-cmd window nextdisplay && /opt/homebrew/bin/paneru send-cmd mouse nextdisplay
  map cmd_l-w>n to shell: /opt/homebrew/bin/paneru send-cmd mouse nextdisplay

  map cmd_l-cmd_r-j to shell: /opt/homebrew/bin/paneru send-cmd window virtual south
  map ctrl_l-cmd_l-j to shell: /opt/homebrew/bin/paneru send-cmd window virtual south
  map cmd_l-cmd_r-k to shell: /opt/homebrew/bin/paneru send-cmd window virtual north
  map ctrl_l-cmd_l-k to shell: /opt/homebrew/bin/paneru send-cmd window virtual north

  map cmd_l-w>j to shell: /opt/homebrew/bin/paneru send-cmd window virtualsend south
  map cmd_l-w>k to shell: /opt/homebrew/bin/paneru send-cmd window virtualsend north

  # map cmd_l-w>k to shell: /opt/homebrew/bin/paneru send-cmd window focus north
  # map cmd_l-w>j to shell: /opt/homebrew/bin/paneru send-cmd window focus south
  # map cmd_l-w>f to shell: /opt/homebrew/bin/paneru send-cmd window fullwidth
  # map cmd_l-w>t to shell: /opt/homebrew/bin/paneru send-cmd window manage
  # map cmd_l-w>open_bracket to shell: /opt/homebrew/bin/paneru send-cmd window stack
  # map cmd_l-w>close_bracket to shell: /opt/homebrew/bin/paneru send-cmd window unstack
  # map cmd_l-w>e to shell: /opt/homebrew/bin/paneru send-cmd window equalize
  # map cmd_l-w>q to shell: /opt/homebrew/bin/paneru send-cmd quit
  # map cmd_l-w>u to shell: /opt/homebrew/bin/paneru send-cmd window focus first
  # map cmd_l-w>o to shell: /opt/homebrew/bin/paneru send-cmd window focus last

rule "navigate imessages"
  map cmd_l-k if_app com.apple.MobileSMS to key_code: ctrl_l-shift_l-tab
  map cmd_l-j if_app com.apple.MobileSMS to key_code: ctrl_l-tab

rule "Slack history navigation"
  map cmd_l-l if_app com.tinyspeck.slackmacgap to key_code: cmd_r-quote
  map cmd_l-h if_app com.tinyspeck.slackmacgap to key_code: cmd_r-open_bracket
  map cmd_l-j if_app com.tinyspeck.slackmacgap to key_code: opt_r-down_arrow
  map cmd_l-k if_app com.tinyspeck.slackmacgap to key_code: opt_r-up_arrow

rule "Caps lock to cmd / ctrl, escape when used alone"
  map caps_lock? if_app $TERMINALS
    to
      key_code: left_control
    to_if_alone
      key_code: escape
      set_variable: leader_active=0
      set_variable: leader_active_trigger_waiter=0
      # shell: /opt/homebrew/bin/sketchybar --bar color=80ffff00
  map caps_lock? if_app com.microsoft.VSCode
    to
      key_code: right_command
    to_if_alone
      key_code: escape
      key_code: cmd_r-ctrl_l-opt_r-b
      set_variable: leader_active=0
      set_variable: leader_active_trigger_waiter=0
      # shell: /opt/homebrew/bin/sketchybar --bar color=0x#80ffff00
  map caps_lock?
    to
      key_code: right_command
    to_if_alone
      key_code: escape
      set_variable: leader_active=0
      set_variable: leader_active_trigger_waiter=0
      # shell: /opt/homebrew/bin/sketchybar --bar color=0x#80ffff00

rule "raycast"
  map right_command?
    to
      key_code: right_command
    to_if_alone
      key_code: opt_r-spacebar

rule "Terminal"
  map grave_accent_and_tilde unless_app net.kovidgoyal.kitty to open: net.kovidgoyal.kitty
  # map cmd_l-grave_accent_and_tilde unless_app com.mitchellh.ghostty if_app disabled to shell: sh ~/dev/dotfiles/scripts/open_ghostty_quick_terminal.sh
  # map grave_accent_and_tilde if_app net.kovidgoyal.kitty to key_code: ctrl_l-shift_l-j
  map grave_accent_and_tilde if_app net.kovidgoyal.kitty to open: org.mozilla.firefox
  map ctrl_l-right_arrow if_app $TERMINALS to key_code: cmd_r-right_arrow
  map ctrl_l-left_arrow if_app $TERMINALS to key_code: cmd_r-left_arrow
  map ctrl_l-delete_or_backspace if_app $TERMINALS to key_code: cmd_r-delete_or_backspace
  map ctrl_l-shift_l-x if_app $TERMINALS to key_code: shift_l-cmd_r-x
  map ctrl_l-shift_l-h if_app $TERMINALS to key_code: ctrl_l-shift_l-left_arrow
  map ctrl_l-shift_l-l if_app $TERMINALS to key_code: ctrl_l-shift_l-right_arrow
  map cmd_l-down_arrow if_app $TERMINALS to key_code: f17
  map cmd_l-up_arrow if_app $TERMINALS to key_code: f18

rule "Common coding key mappings"
  map shift_l-comma if_app $TERMINALS_VSCODE to key_code: non_us_backslash
  map shift_l-period if_app $TERMINALS_VSCODE to key_code: shift_l-non_us_backslash
  map semicolon if_app $TERMINALS_VSCODE to key_code: shift_l-period
  map shift_l-semicolon if_app $TERMINALS_VSCODE to key_code: shift_l-comma
  map shift_l-quote if_app $TERMINALS_VSCODE to key_code: shift_l-2
  map quote if_app $TERMINALS_VSCODE to key_code: backslash

rule "Terminal bracket mappings"
  map shift_l-close_bracket if_app $TERMINALS to key_code: f19
  map close_bracket if_app $TERMINALS to key_code: f13

rule "Disable repeat for ctrl-c and ctrl-d in terminals"
  map ctrl-c if_app $TERMINALS
    to
      key_code: ctrl-c (repeat=false)
  map ctrl-d if_app $TERMINALS
    to
      key_code: ctrl-d (repeat=false)

rule "VSCode bracket mappings"
  map shift_l-open_bracket if_app com.microsoft.VSCode to key_code: shift_l-opt_r-8
  map open_bracket if_app com.microsoft.VSCode to key_code: opt_r-8
  map shift_l-close_bracket if_app com.microsoft.VSCode to key_code: shift_l-opt_r-9
  map close_bracket if_app com.microsoft.VSCode to key_code: opt_r-9

rule "Vim hjkl navigation not terminal"
  map cmd_r-j unless_app $TERMINALS to key_code: down_arrow
  map cmd_r-k unless_app $TERMINALS to key_code: up_arrow
  map cmd_r-l unless_app $TERMINALS org.mozilla.firefox to key_code: right_arrow (halt=true)
  map cmd_r-h unless_app $TERMINALS org.mozilla.firefox to key_code: left_arrow (halt=true)

rule "Project managers"
  map ctrl_l-3 if_app ^com.googlecode.iterm2$ com.mitchellh.ghostty net.kovidgoyal.kitty com.github.wez.wezterm org.alacritty
    to
      key_code: ctrl_l-s
      key_code: w
  map cmd_r-p if_app com.sublimemerge to key_code: cmd_r-ctrl_l-p
  map cmd_r-3 if_app com.microsoft.VSCode to key_code: opt_l-cmd_l-p
  map cmd_r-3 if_app ^org.mozilla.firefox$ to key_code: shift_l-t
  map cmd_r-s if_app com.tinyspeck.slackmacgap to key_code: cmd_r-k

rule "Clear all in editor"
  map cmd_r-shift_l-c if_app com.microsoft.VSCode to shell: sh ~/dev/dotfiles/scripts/clearSearchEditor.sh

rule "Notion"
  map cmd_l-shift_l-e if_app ^notion\.id$ to key_code: cmd_l-backslash
  map cmd_r-1 if_app notion.id to shell: open "notion://https://www.notion.so/tobbbe/Scratch-2f1e584b3d2680d4879efaf91d56bf71"
  map cmd_r-2 if_app notion.id to shell: open "notion://https://www.notion.so/gymochfitness/1b2f73d8a19980de846eca1dc292d5db?v=1b2f73d8a19981b79352000cb0c6d2fc"
  map cmd_r-3 if_app notion.id to shell: open "notion://https://www.notion.so/gymochfitness/1b2f73d8a19980b08849e5988f9fcece?v=1b2f73d8a1998113b914000c62b346b2"
  map cmd_r-2 if_app notion.id to key_code: ctrl_l-shift_l-2
  map cmd_r-3 if_app notion.id to key_code: ctrl_l-shift_l-3
  map cmd_r-4 if_app notion.id to key_code: ctrl_l-shift_l-4
  map cmd_r-5 if_app notion.id to key_code: ctrl_l-shift_l-5

rule "Mail"
  map cmd_r-s if_app ^com\.apple\.mail to key_code: cmd_r-shift_l-d (halt=true)
  map cmd_r-e if_app ^com\.apple\.mail to key_code: cmd_r-ctrl_l-s (halt=true)

rule "Simulator expo reload"
  map cmd_r-r if_app com.apple.iphonesimulator to shell: /Users/tobbe/dev/dotfiles/scripts/expo-send-r.sh


rule "Emoji picker (actual binding in raycast settings)"
  map ctrl_l-shift_l-e if_app net.kovidgoyal.kitty if_expr="leader_active = 0" to key_code: ctrl_l-shift_l-opt_r-cmd_r-t
  map cmd_r-shift_l-e if_app net.kovidgoyal.kitty if_expr="leader_active = 0" to key_code: ctrl_l-shift_l-opt_r-cmd_r-t
  map cmd_r-shift_l-e unless_app net.kovidgoyal.kitty if_expr="leader_active = 0" to key_code: ctrl_l-shift_l-opt_r-cmd_r-t

rule "App-specific left command alone"
  map left_command if_app net.kovidgoyal.kitty
    to
      key_code: left_command (modifiers=any)
    to_if_alone
      key_code: ctrl_l-tab
  map left_command if_app com.tinyspeck.slackmacgap
    to
      key_code: left_command (modifiers=any)
    to_if_alone
      key_code: shift_l-opt_r-down_arrow

rule "firefox"
  map cmd_l-j if_app org.mozilla.firefox to open: net.kovidgoyal.kitty
  map cmd_r-d if_app org.mozilla.firefox to key_code: d
  map cmd_r-u if_app org.mozilla.firefox to key_code: u

rule "<leader-grave_accent_and_tilde>"
  map cmd_l-grave_accent_and_tilde if_expr="leader_active = 0" to open: com.apple.MobileSMS

rule "<leader-s>"
  map cmd_l-s if_expr="leader_active = 0" to open: com.tinyspeck.slackmacgap

rule "<leader-p>"
  map cmd_l-p if_expr="leader_active = 0" to open: com.spotify.client

rule "<leader-f>"
  map cmd_l-f if_expr="leader_active = 0" to open: com.figma.Desktop

rule "<leader-a>"
  map cmd_l-a if_expr="leader_active = 0" to open: org.mozilla.firefox

rule "<leader-d>"
  # map cmd_l-d if_expr="leader_active = 0" to shell: open -g 'hammerspoon://kitty-focus-simulator-mouse'
  map cmd_l-d if_expr="leader_active = 0"
    to
      open: com.apple.iphonesimulator

rule "<leader-b>"
  map cmd_l-b if_expr="leader_active = 0" to key_code: cmd_r-shift_l-b

rule "<leader-e>"
  # map cmd_l-e if_expr="leader_active = 0" to key_code: opt_r-shift_l-cmd_l-ctrl_l-e
  map cmd_l-e if_expr="leader_active = 0" to open: com.anthropic.claudefordesktop

rule "<leader-w>"
  map cmd_l-w if_expr="leader_active = 0" to key_code: opt_r-shift_l-m

rule "<leader-n>"
  map cmd_l-n if_expr="leader_active = 0" to open: notion.id

rule "<leader-m>"
  map cmd_l-m if_expr="leader_active = 0" to open: com.apple.mail

rule "<leader-g>"
  map cmd_l-g if_expr="leader_active = 0" to open: com.sublimemerge

rule "<leader-r>"
  map cmd_l-r if_expr="leader_active = 0" to open: com.wowo.app

rule "<leader-enter>"
  map cmd_l-return_or_enter if_expr="leader_active = 0" to shell: /Applications/Firefox.app/Contents/MacOS/firefox --new-tab about:blank

rule "<leader><leader> + g (example)"
  map g if_expr="leader_active > system.now.milliseconds"
    to
      open: com.sublimemerge
      set_variable: leader_active=0

rule "<leader><leader> a - group a"
  map t if_expr="leader_active_group_a > system.now.milliseconds"
    to
      open: com.atlassian.trello
      set_variable: leader_active_group_a=0
  map a if_expr="leader_active > system.now.milliseconds"
    to
      set_variable: leader_active_group_a=system.now.milliseconds + 3420
    to_delayed_action
      to_if_invoked
        set_variable: leader_active_group_a=0
      to_if_canceled
        set_variable: leader_active_group_a=0
    parameters
      basic.to_delayed_action_delay_milliseconds: 821

rule "leader key + raycast"
  map left_command if_expr="leader_active_trigger_waiter = 1"
    to
      key_code: left_command
    to_if_alone
      set_variable: leader_active_trigger_waiter=0
      set_variable: leader_active=system.now.milliseconds + 3420
      key_code: escape
    to_delayed_action
      to_if_invoked
        set_variable: leader_active=0
      to_if_canceled
        set_variable: leader_active=0
    parameters
      basic.to_delayed_action_delay_milliseconds: 421
  map left_command
    to
      key_code: left_command (modifiers=any)
    to_if_alone
      set_variable: leader_active=0
      set_variable: leader_active_trigger_waiter=1
      # key_code: opt_r-spacebar
      # open: org.mozilla.firefox
    to_delayed_action
      to_if_invoked
        set_variable: leader_active_trigger_waiter=0
      to_if_canceled
        set_variable: leader_active_trigger_waiter=0
    parameters
      basic.to_delayed_action_delay_milliseconds: 421

rule "disable cmd+m"
  map cmd_l-m to key_code: vk_none
  map cmd_r-m to key_code: vk_none

rule "arrow thing (less/greater than keys)"
  map opt_l-comma if_input_source="sv" to key_code: non_us_backslash
  map opt_l-period if_input_source="sv" to key_code: shift_l-non_us_backslash

rule "Kitty right shift leader"
  # map ctrl_l-tab if_app net.kovidgoyal.kitty
    #to
     # key_code: cmd_l-b
  map left_shift if_app net.kovidgoyal.kitty
    to
      key_code: left_shift (modifiers=any)
    to_if_alone
      key_code: cmd_l-b
  map ctrl_l-1 if_app net.kovidgoyal.kitty
    to
      key_code: ctrl_l-shift-i
  map left_shift unless_app net.kovidgoyal.kitty
    to
      key_code: left_shift (modifiers=any)
    to_if_alone
      open: net.kovidgoyal.kitty
      key_code: vk_none (hold_down_milliseconds=300)
      key_code: cmd_l-b

rule "Kitty tab navigation"
  map cmd_l-h if_app net.kovidgoyal.kitty to key_code: ctrl_l-cmd_l-opt_l-h
  map cmd_l-l if_app net.kovidgoyal.kitty to key_code: ctrl_l-cmd_l-opt_l-l
  map cmd_l-k if_app net.kovidgoyal.kitty to key_code: ctrl_l-cmd_l-opt_l-k
  map cmd_l-j if_app net.kovidgoyal.kitty to key_code: ctrl_l-cmd_l-opt_l-j

rule "Key right of ä (macbook) and above enter on external keyboard TO slash and backslash"
  map backslash to key_code: shift_l-7
  map shift_l-opt_l-backslash to key_code: shift_l-opt_r-7

rule "Kitty sets left option to alt so make tilde work like usual"
  map opt_l-close_bracket if_app $TERMINALS
    to
      key_code: opt_r-close_bracket
      key_code: spacebar

rule "fn_function_keys"
  map ctrl_l-f1 to consumer_key_code: display_brightness_decrement
  map ctrl_l-f2 to consumer_key_code: display_brightness_increment
  map ctrl_l-f3 to apple_vendor_key_code: mission_control
  map ctrl_l-f4 to apple_vendor_key_code: spotlight
  map ctrl_l-f5 to consumer_key_code: dictation
  map ctrl_l-f6 to shell: sh ~/dev/dotfiles/scripts/afk.sh
  map f7 to consumer_key_code: rewind
  map ctrl_l-f7 to key_code: f7
  map f8 to consumer_key_code: play_or_pause
  map ctrl_l-f8 to key_code: f8
  map f9 to consumer_key_code: fast_forward
  map ctrl_l-f9 to key_code: f9
  map f10 to consumer_key_code: mute
  map ctrl_l-f10 to key_code: f10
  map f11 to consumer_key_code: volume_decrement
  map ctrl_l-f11 to key_code: f11
  map f12 to consumer_key_code: volume_increment
  map ctrl_l-f12 to key_code: f12

# rule "Aerospace window focus with cmd + hjkl"
  # map cmd_l-h to shell: /opt/homebrew/bin/aerospace focus left --boundaries-action wrap-around-the-workspace
  # map cmd_l-j to shell: /opt/homebrew/bin/aerospace focus down --boundaries-action wrap-around-the-workspace
  # map cmd_l-k to shell: /opt/homebrew/bin/aerospace focus up --boundaries-action wrap-around-the-workspace
  # map cmd_l-l to shell: /opt/homebrew/bin/aerospace focus right --boundaries-action wrap-around-the-workspace

rule "slower repeat for spacebar and backspace"
  map spacebar
    to
      key_code: spacebar (repeat=false)
    to_if_held_down
      key_code: spacebar
    parameters
      basic.to_if_held_down_threshold_milliseconds: 200
  map delete_or_backspace
    to
      key_code: delete_or_backspace (repeat=false)
    to_if_held_down
      key_code: delete_or_backspace
    parameters
      basic.to_if_held_down_threshold_milliseconds: 200

# PARALLELS ----------------------------------------------------------------------------------------

rule "Parallels caps lock"
  map caps_lock? if_app ^com.parallels[[:graph:]]*$
    to
      key_code: left_control
    to_if_alone
      key_code: escape

rule "misc parallels shortcut translations"
  map ctrl_l-shift_l-x if_app ^com.parallels[[:graph:]]*$ to key_code: cmd_r-shift_l-x
  map ctrl_l-shift_l-r if_app ^com.parallels[[:graph:]]*$ to key_code: cmd_r-shift_l-r
  map ctrl_l-shift_l-s if_app ^com.parallels[[:graph:]]*$ to key_code: ctrl_l-shift_l-cmd_r-opt_r-a (halt=true)
  map ctrl_l-shift_l-v if_app ^com.parallels[[:graph:]]*$ to key_code: ctrl_l-shift_l-cmd_r-opt_r-v (halt=true)
  map ctrl_l-shift_l-d if_app ^com.parallels[[:graph:]]*$ to key_code: cmd_r-shift_l-d
  map ctrl_l-shift_l-4 if_app ^com.parallels[[:graph:]]*$ to key_code: cmd_r-shift_l-4
  map ctrl_l-shift_l-5 if_app ^com.parallels[[:graph:]]*$ to key_code: cmd_r-shift_l-5
